// requests.partial.mustache
function buildResponse(body, headers, code, session) {
	var responseObject = {
		Body: body,
		Headers: headers,
		Code: code
	};
	return TykJsResponse(responseObject, session.meta_data);
}

function processAndBuildResponse(response, session, contextTag) {
	if (response.code === 401) {
		return buildResponse(contextTag + ": access_token was rejected by Spotify", {}, 401, session);
	} else {
		return buildResponse(contextTag + ": " + response.body, {}, 500, session);
	}
}

function singleBatchRequest(method, body, accessToken, url) {
	var requestObject = {
		"requests": [
			{
				"method": method,
				"body": body,
				"headers": { "Authorization": "Bearer " + accessToken },
				"relative_url": url
			}
		],
		"suppress_parallel_execution": true
	};
	return JSON.parse(TykBatchRequest(JSON.stringify(requestObject)))[0];
}